@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Black.ttf");
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
  src: url("../../fonts/Poppins/Poppins-Thin.ttf");
}

.sectionFour {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
  align-items: center;
  gap: 3rem;
}
.imgGroup {
  width: 100%;
}

.cardFour {
  width: 60%;
  height: auto;
  gap: 3rem;
  margin-left: 2rem;
  border-radius: 30px;
  background: #ffffff1a;
  background-blend-mode: soft-light, normal;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(20px);
  padding: 40px 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  display: flex;
  align-items: flex-start;
}

.titleFour {
  color: #FFF;
  text-shadow: 0px 4px 184px #000, 0px 4px 134px #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  margin: 0px;
}

.containerBtnFour {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.pixImage {
  left: 0;
  top: 0;
  position: absolute;
  width: 30%;
}
.containerMoveImageFour {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.moveImage {
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 360px) and (max-width: 576px) {
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 75%;
  }
  .titleFour {
    font-size: 2em;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }
  .containerMoveImageFour {
    margin-right: 0px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 80%;
  }
  .titleFour {
    font-size: 2.4em;
    width: 60%;
  }
  .moveImage {
    width: 90%;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }
  .containerMoveImageFour {
    margin-right: 0px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .moveImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 80%;
  }
  .titleFour {
    font-size: 3em;
    width: 80%;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }
  .containerMoveImageFour {
    margin-right: 0px;
  }
}
