@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Black.ttf");
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
  src: url("../../fonts/Poppins/Poppins-Thin.ttf");
}
.hidden {
  display: none;
}

.active {
  display: flex;
}
.containerMoveImg {
  display: flex;
  align-items: center;
  justify-content: center;
width: 100%;
}

.sectionFour {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
  align-items: center;
  gap: 3rem;
}

.containerTotalFour {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.cardFour {
  width: 500px;
  height: auto;
  gap: 3rem;
  border-radius: 30px;
  background: #ffffff1a;
  background-blend-mode: soft-light, normal;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(20px);
  padding: 40px 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
}

.titleFour {
  color: #FFF;
  text-shadow: 0px 4px 184px #000, 0px 4px 134px #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  margin: 0px;
}

.containerBtnFour {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.pixImage {
  left: 0;
  top: 0;
  position: absolute;
  width: 30%;
}
.containerMoveImageFour {
display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 600px;
}
.moveImage {
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 360px) and (max-width: 576px) {
  .containerTotalFour {
    flex-direction: column;
  }
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 80%;
    gap: 2rem;
  }
  .titleFour {
    font-size: 1.2em;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }
  .containerMoveImageFour {
    margin-right: 0px;
    width: 100%;
    height: 300px;
  }
  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .imgOne {
    width: 90%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 100%;
  }
  .imgSeven {
    width: 70%;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 80%;
  }
  .titleFour {
    font-size: 2.4em;
    width: 60%;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }

  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .containerMoveImageFour {
    margin-right: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 600px;
}
  
  .containerTotalFour {
    flex-direction: column;
  }
  .imgOne {
    width: 90%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 100%;
  }
  .imgSeven {
    width: 70%;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .pixImage {
    display: none;
  }
  .sectionFour {
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .containerMoveImageFour {
    margin-right: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 650px;
}
  
  .containerTotalFour {
    flex-direction: column;
  }
  .imgOne {
    width: 90%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 100%;
  }
  .imgSeven {
    width: 50%;
  }
  .cardFour {
    margin: 0px;
    padding: 30px 20px;
    width: 80%;
  }
  .titleFour {
    font-size: 2em;
    width: 60%;
  }
  .containerBtnFour {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap;
  }
  .containerBtnFour button {
    flex: 0 0 auto; 
  }

}

@media (min-width: 993px) and (max-width: 1200px) {
  .containerMoveImageFour {
    margin-right: 0px;
  }
  .titleFour {
    font-size: 2em;
  }
  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .imgOne {
    width: 90%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 100%;
  }
  .imgSeven {
    width: 90%;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .containerMoveImageFour {
    margin-right: 0px;
  }
  .titleFour {
    font-size: 2em;
  }
  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .imgOne {
    width: 80%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 90%;
  }
  .imgSeven {
    width: 50%;
  }
}

@media (min-width: 1441px) {
  .sectionFour {
    justify-content: space-around;
  }
  .cardFour {
    width: 30%;
  }
  .containerMoveImageFour {
    width: 50%;
  }
  .moveImage {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .imgOne {
    width: 90%;
  }
  .imgTwo, .imgThree, .imgFour, .imgFive, .imgSix, .imgEight, .imgNine {
    width: 90%;
  }
  .imgSeven {
    width: 60%;
  }
}