@font-face {
    font-family: "Poppins";
    src: url("../../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../../fonts/Poppins/Poppins-Thin.ttf");
  }

.containerTurThree {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.titleTuristThree {
    color: #FFF;
    text-align: center;
    font-family: "Poppins-Light", sans-serif;
    font-size: 3.5em;
    margin: 0px;
    font-weight: 600;
    width: 40%;
    line-height: 100.044%;
}