@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }


  .contieneVolver {
    width: 70%;
    display: flex;
  }
  .sectionPrensa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 4em;
    margin-bottom: 100px;
}
.imgPrensa {
    position: absolute;
    top: 120px;
}
.contenedorButtonNavPrensa {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    gap: 1em; 
}
.contenedorButtonNavPrensa::-webkit-scrollbar-track {
  background: transparent; 
}
.contenedorButtonNavPrensa::-webkit-scrollbar {
  height: 8px;
}
.columUnoPrensa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    gap: 2em;
}
 .cargarMas {
  color: #FFF;
  font-family: 'Poppins-Regular';
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2em;
  border: none;
  text-decoration-line: underline;
 }
 .cargarMas:hover {
  color: #62FEE2;
 }
.filaPrensa {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  background-image: url(/src/images/megaGlass.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contenedorPrensaTotal {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3em;
}
.tituloPrensa {
    color:#FFF;
    text-align: center;
    font-family: "Bebas";
    font-size: 3em;
    font-weight: 400;
    margin: 0px;
}

  @media (min-width: 1201px) and (max-width: 1440px) {
    .tituloPrensa {
        font-size: 4em;
    }
    .contenedorPrensaTotal {
      width: 100%;
      gap: 3em;
    }
  }
