@font-face {
  font-family: "Bebas";
  src: url("../../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../../fonts/Poppins/Poppins-Light.ttf");
}

.turismCardOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.orderCardTur {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5em;
  overflow-x: auto; 
  padding: 1em;
}
.cardTurOne {
  border-radius: 40px;
  background: #1e1e1e;
  width: 250px; 
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}
.cardTurOne:hover .imgTuristPix {
  opacity: 1;
}
.imgTuristPix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.imgMove {
  width: 130px;
}

.textCardTurOne {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.cardTurOne:hover .textCardTurOne {
  top: 65%;
  transform: translateY(0);
  text-shadow: 0 0 20px rgba(98, 254, 226, 0.8);
}
.titleCardTurOne {
  color: white;
  text-align: center;
  font-family: "Poppins-Regular";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
}
.titleCardTurOne:hover {
  color: #62fee2;
}

.containerCardNext {
  display: flex;
  gap: 5em;
  padding: 40px;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  background-blend-mode: soft-light, normal;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(20px);
  height: 170px;
}
.textTurOne,
.askTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.textCardTur {
  color: #fff;
  font-family: "Poppins-Light";
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: start;
  margin: 0px;
  width: 70%;
}
.askCardTur {
  color: #62fee2;
  font-family: "Bebas Neue";
  font-size: 4em;
  font-style: normal;
  margin: 0px;
  font-weight: 400;
  line-height: 60px;
  text-align: start;
  width: 60%;
}

@media (max-width: 576px) {
  .askCardTur {
    font-size: 3em;
  }
}
@media (min-width: 360px) and (max-width: 772px) {
  .orderCardTur {
    display: none;
  }

  .cardTurOne {
    width: 100%; 
    min-width: 250px; 
    height: 240px;
  }
  .orderCardTur::-webkit-scrollbar {
    display: none;
  }
  .containerCardNext {
    flex-direction: column;
    padding: 30px;
    gap: 1em;
    height: auto;
  }
  .askCardTur, .textCardTur {
    width: 100%;
  }
  .imgMove {
    width: 100px;
  }
}

@media (min-width: 773px) and (max-width: 992px) {
  .orderCardTur {
    flex-direction: row;
    width: 100%;
    gap: 0.5em;
    overflow-x: auto; 
    padding: 0; 
  }
  .cardTurOne {
    width: 100%; 
    min-width: 250px; 
    height: 240px;
  }
  .containerCardNext {
    flex-direction: row;
    padding: 30px;
    gap: 1em;
  }
  .askCardTur, .textCardTur {
    width: 100%;
  }
  .imgMove {
    width: 100px;
  }
}


@media (min-width: 993px) and (max-width: 1200px) {
  .textCardTur {
    width: 100%;
  }
}



@media (min-width: 1201px) and (max-width:1440px)  {
  .orderCardTur {
    justify-content: center;
  }
  .cardTurOne {
    width: 350px;
  }
  .askCardTur {
    line-height: 75px;
    font-size: 5em;
  }
  .textCardTur {
    width: 90%;
    font-size: 1em;
    line-height: 40px;
  }
  .containerCardNext {
    padding: 70px;
    height: auto;
  }
}

@media (min-width: 1441px)  {
  .textCardTur {
    width: 90%;
    font-size: 1.5em;
    line-height: 50px;
  }
  .containerCardNext {
    padding: 80px;
    height: auto;
  }
  .askCardTur {
    line-height: 100px;
    font-size: 6em;
  }
  .orderCardTur {
    gap: 1.5em;
    align-items: center;
    justify-content: center;
  }
  .askCardTur {
    font-size: 6em;
    width: 80%;
  }
  
}
