.containerPhone {
    height: auto;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneimg {
    width: 650px;
    transition: transform 0.3s ease;
    z-index: 99;
}

.cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.pix3d {
    position: absolute;
    width: 200px;
}