.containerPhone {
    height: auto;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.phoneimg {
    width: 650px;
    transition: transform 0.4s ease;
    z-index: 99;
}

.cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.pix3d {
    position: absolute;
    width: 200px;
    z-index: 9;
}

@media (min-width: 360px) and (max-width: 576px) {
    .phoneimg {
        width: 325px;
    }
    .containerPhone {
        margin-top: -100px;
    }
    .pix3d {
        width: 150px;
    }
    
}
@media (min-width: 577px) and (max-width: 768px) {
    .containerPhone {
        margin-top: -50px;
    }
    .phoneimg {
        width: 400px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .phoneimg {
        width: 430px;
    }
    .containerPhone {
        margin-top: -10px;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .phoneimg {
        width: 400px;
    }
    .containerPhone {
        margin-top: -50px;
    }
}
@media (min-width: 1201px) and (max-width:1440px)  {
    .phoneimg {
        width: 400px;
    }
    .containerPhone {
        margin-top: -90px;
    }
} 
@media (min-width: 1441px) {
    .phoneimg {
        width: 400px;
    }
    .containerPhone {
        margin-top: -180px;
    }
} 
