@font-face {
    font-family: "Bebas";
    src: url("../../../fonts/BebasNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../../fonts/Poppins/Poppins-Light.ttf");
  }

.subtitleCardDrag {
    color:#FFF;
    font-family: "Poppins-Regular";
    font-size: .8em;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    text-indent: 0px;    
    text-align: start;
}
.titleCardDrag {
    color: #FFF;
    text-align: start;
    font-family: "Poppins-Medium";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 10px ;
}



.itemDrag {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
    display: inline-block;
    border-radius: 0px 0px 30px 30px;
    height: 500px;
    width: 400px;
    overflow: hidden;
    margin: 0px 10px;
    padding-bottom: 20px;
}

.containerInfoDrag {
    padding: 30px;
    text-wrap: wrap;
}

.containerImgDrag {
    width: 100%;
    height: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}


@media (max-width: 576px) {
    .itemDrag {
        width: 300px;
        height: 450px;
        margin: 0px 5px;
    }
    .subtitleCardDrag {
        font-family: "Poppins-Light", sans-serif;
        font-size: .9em;
        text-align: start;
    }
    .titleCardDrag {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    .containerInfoDrag {
        padding: 20px;
    }
    .containerImgDrag {
        height: 150px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .itemDrag {
        width: 350px;
        margin: 0px 5px;
    }
    .subtitleCardDrag {
        font-size: .9em;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .itemDrag {
        width: 350px;
        margin: 0px 5px;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .itemDrag {
        width: 400px;
    }
    .subtitleCardDrag {
        font-size: 1em;
    }
    .containerImgDrag {
        height: 150px;
    }
}
@media (min-width: 1201px) and (max-width: 1440px) {
    .itemDrag {
        width: 400px;
    }
    .subtitleCardDrag {
        font-size: 1em;
    }
    .containerImgDrag {
        height: 150px;
    }
}



@media (min-width: 1441px) {
    .titleCardDrag {
        font-size: 1.4em;
    }
    .subtitleCardDrag {
        font-size: .9em;
        font-family: 'Poppins-Light';
    }
} 