@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}

.formStyles {
  width: 30%;
  margin: 0px auto;
  position: relative;
}
.monto {
  color: #FFF;
  font-family: "Poppins-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.63);
}
.containerMessage, .containerMessageTwo {
  border-radius: 30px;
  width: 200px;
  height: auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.10);
  background-blend-mode: soft-light, normal;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(20px);
}
.containerMessage::after {
  content: ''; 
  position: absolute; 
  top: 35%; 
  left: 100%; 
  width: 0;
  height: 0;
  border-top: 20px solid transparent; 
  border-left: 30px solid rgba(255, 255, 255, 0.10); 
  border-bottom: 20px solid transparent; 
}
.containerMessageTwo::after {
  content: ''; 
  position: absolute; 
  top: 35%; 
  right: 100%; 
  width: 0;
  height: 0;
  border-top: 20px solid transparent; 
  border-right: 30px solid rgba(255, 255, 255, 0.10); 
  border-bottom: 20px solid transparent; 
}
.arg {
  position: absolute;
  right: 130%;
  top: 0%;
}
.brl {
  position: absolute;
  right: -100%;
  top: 60%;
}
.motive {
  position: absolute;
  right: 130%;
  top: 40%;
}
.usdt {
  position: absolute;
  right: -100%;
  top: 0%;
}
.usdtDos {
  position: absolute;
  right: -100%;
  top: 40%;
}
.messagePay {
  color: #FFF;
  font-family: "Poppins-Light";
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}

.inputs {
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.36) 0%, rgba(217, 255, 248, 0.36) 100%);
  border: 2px solid #62FEE2;
  border-radius: 10px;
  box-shadow: 0px 4.713px 4.713px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(21.028px);
  padding-left: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  box-sizing: border-box; 
  color: white;
}

.flag-container {
  position: absolute;
  top: 70%;
  right: 25px; 
  transform: translateY(-50%); 
  display: flex;
  align-items: center;
  height: 100%;
}

.flagIcon {
  width: 20px;
  height: 14px;
  margin-right: 4px;
}

.currency-label {
  color: #FFF;
  font-family: "Poppins-Medium";
  font-size: .8em;
  font-weight: 500;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgCheck {
  position: absolute;
  width: 200px;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
}
.imgCodigo {
  width: 300px;
  filter: invert(1);
}
.textPopUp {
  color: white;
  font-size: 2em;
  margin: 0px;
  text-align: center;
  font-family: "Poppins-Bold";
}
.imgPixPop {
  width: 200px;
}



@keyframes imgCheck {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .messagePay {
    font-size: .8em;
  }
  .formStyles {
    width: 80%;
    margin: 0px auto;
    position: relative;
  }
  .imgCheck {
    width: 90px;
  }
}
@media (min-width: 769px) and (max-width: 992px)  {
  .messagePay {
    font-size: .9em;
  }
  .formStyles {
    width: 60%;
  }
  .imgCheck {
    width: 100px;
  }
}

@media (min-width: 360px) and (max-width: 992px) {
  .popup-content {
    width: 250px;
    height: 400px;
  }
  .textPopUp {
    font-size: 1.5em;
  }
  .imgCodigo {
    width: 250px;
  }
  .arg {
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 9;
  }
  .brl {
    z-index: 1;
    position: absolute;
    right: -0%;
    top: 45%;
  }
  .usdt, .usdtDos {
    display: none;
  }
  .motive {
    right: 0%;
    top: 60%;
    z-index: 1;
  }
  .containerMessage, .containerMessageTwo {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 15px;
    background: #3f3f3f8f;
  }
  .containerMessage::after, .containerMessageTwo::after {
    display: none;
  }
}
 
@media (min-width: 993px) and (max-width: 1200px)  {
  .containerMessage, .containerMessageTwo {
    width: 150px;
  }
  .arg, .motive {
    right: 120%;
  }
  .usdt {
    right: -80%;
  }
  .usdtDos, .brl {
    right: -80%;
    top: 50%;
  }
  .popup-content {
    width: 350px;
    height: 500px;
  }
  .textPopUp {
    font-size: 2.5em;
  }
  .imgCodigo {
    width: 300px;
  }
  .imgCheck {
    width: 140px;
  }
  .formStyles {
    width: 60%;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .imgCodigo {
    width: 260px;
  }
  .imgCheck {
    width: 90px;
  }
  .usdt, .usdtDos, .brl {
    right: -90%;
  }
  .popup-content {
    width: 350px;
    justify-content: space-evenly;
  }
}
@media (min-width: 1441px) {
  .usdt, .usdtDos, .brl {
    right: -70%;
  }
  .imgCheck {
    width: 90px;
  }
  
}