@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }
.containerSecSeven {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.containerAsk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    cursor: pointer;
}
.titleSectionSeven {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.titleSeven {
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.question {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    align-items: center;
    padding: 20px 0px;
}
.icon {
    border-radius: 10px;
    background: #323232;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.response {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.line {
    width: 100%;
    border: 0.5px solid white;
}

@media (min-width: 360px) and (max-width: 576px) {
    .titleSeven {
        font-size: 2.7em;
        width: 90%;
    }
    .ask {
        width: 90%;
    }
    .question p {
        font-size: .7em;
        font-weight: 400;
        width: 80%;
    }
    .containerSecSeven {
        justify-content: center;
    }
    
}
@media (min-width: 577px) and (max-width: 768px) {
    .titleSeven {
        font-size: 4em;
        width: 90%;
    }
    .ask {
        width: 90%;
    }
    .question p {
        font-size: .7em;
        font-weight: 400;
        width: 80%;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}

@media (min-width: 769px) and (max-width: 992px) {
    .titleSeven {
        font-size: 5em;
        width: 90%;
    }
    .ask {
        width: 90%;
    }
    .question p {
        font-size: .7em;
        font-weight: 400;
        width: 80%;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}