@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }
  
.containerSecSeven {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.containerAsk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}
.ask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    cursor: pointer;
}
.titleSectionSeven {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.titleSeven {
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.question {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 1em;
}
.questionText {
    color: #FFF;
    font-family: "Poppins-Medium";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
    text-align: start;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.questionText.active {
    color: #62FEE2; 
}
.response {
    width: 90%
}
.responseText {
    color: white;
    font-family: "Poppins-Regular";
    font-weight: 300;
    font-size: 1.2em;
    text-align: start;
}

.line {
    background-color: white;
    height: 1px;
    width: 100%;
}

.icon {
    border-radius: 10px;
    background: #323232;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: transform 0.3s ease;
}

.icon.open {
    transform: rotate(180deg); 
}

@media (min-width: 360px) and (max-width: 576px) {
    .titleSeven {
        font-size: 2.7em;
        width: 90%;
    }
    .icon {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .question {
        align-items: center;
        padding: 20px 0px;
    }
    .ask {
        width: 80%;
    }
    .questionText {
        font-size: 1em;
        font-weight: 400;
        width: 80%;
        text-align: start;
    }
    .responseText {
        font-size: 1em;
    }
    .containerSecSeven {
        justify-content: center;
    }
    .containerAsk {
        height: auto;
    }
    
}
@media (min-width: 577px) and (max-width: 768px) {
    .titleSeven {
        font-size: 4em;
        width: 90%;
    }
    .ask {
        width: 80%;
    }
    .questionText {
        font-size: 1em;
        text-align: start;
        font-weight: 400;
        width: 80%;
    }
    .responseText {
        font-size: .9em;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}

@media (min-width: 769px) and (max-width: 992px) {
    .titleSeven {
        font-size: 5em;
        width: 90%;
    }
    .ask {
        width: 80%;
    }
    .questionText {
        font-size: 1em;
        font-weight: 400;
        width: 80%;
    }
    .responseText {
        font-size: .9em;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}
@media (min-width: 993px) and (max-width: 1200px) {
    .titleSeven {
        font-size: 5em;
        width: 90%;
    }
    .ask {
        width: 80%;
    }
    .questionText {
        font-size: 1.3em;
    }
    .responseText {
        font-size: 1.1em;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}
@media (min-width: 1201px) and (max-width: 1440px)  {
    .titleSeven {
        font-size: 6em;
        width: 90%;
    }
    .ask {
        width: 70%;
    }
    .questionText {
        font-size: 1.3em;
    }
    .responseText {
        font-size: 1.1em;
    }
    .containerSecSeven {
        justify-content: center;
    }   
}
@media (min-width: 1441px) {
    .containerSecSeven {
        height: 100vh;
    }
    .containerAsk {
        height: auto;
    }
}