

.containerPlaces {
    width: 300px;
    border-radius: 15px;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.turistOneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.containerCarousel {
    display: flex;
    width: 100%;
    gap: 2em;
    overflow: hidden;
}

.carouselInner {
    display: flex;
    flex-direction: row;
    width: calc(300px * 12); 
    gap: 1em;
    animation: slide 20s linear infinite; 
}

.containerPlaces {
    width: 300px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}



@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 360px) {
    .imgPhoneOneTurist {
        width: 300px;
    }
    .carouselInner {
        gap: .4em;
    }
    .containerCarousel {
        gap: 0px;
    }
    .containerPlaces {
        width: 260px;
        height: 600px;
        border-radius: 15px;
        overflow: hidden;
        height: 540px;
    }
}