@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}

.cardPrensa {
  background: rgb(255 255 255 / 4%);
  backdrop-filter: blur(20px);
  width: 350px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 50px 20px;
  gap: 1em;
}
.medioTitulo {
  color: #fff;
  font-family: "Poppins-Medium";
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
}
.prensaFecha {
  color: #fff;
  font-family: "Poppins-Regular";
  font-size: 0.8em;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
}
.prensaTexto {
  color: #fff;
  font-family: "Poppins-Regular";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
}
.textosPrensaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.textoPrensaTitulo {
    display: flex;
    align-items: flex-start;
    height: 160px;
}

@media (max-width: 576px) {
  .prensaTexto {
    font-size: 1em;
  }
  .cardPrensa {
    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
  }
  .textoPrensaTitulo {
    height: auto;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .prensaTexto {
    font-size: 1em;
  }
  .cardPrensa {
    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
  }
  .medioTitulo {
    font-size: 1.1em;
  }
  .prensaTexto {
    font-size: 1.3em;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  
}