
.containerSwitch {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 360px) and (max-width: 576px) {
    .switch {
        width: auto;
    }
    .empresa, .turista {
        font-size: 0.8em;
    }
    .containerSwitch {
        position: absolute;
        top: 90px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .switch {
        width: auto;
    }
    .empresa, .turista {
        font-size: 0.8em;
    }
    .containerSwitch {
        position: absolute;
        top: 90px;
    }
}