
.containerSwitch {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


 .MuiToggleButton-root {
    width: 100% !important;
}
.css-1hmmozd-MuiToggleButtonGroup-root {
    width: 90% !important;
}
@keyframes isoFloat {
    0% {
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(0px) rotate(-100deg);
    }
}

@media (min-width: 360px) and (max-width: 576px) {
    .switch {
        width: 90%;
    }
    .empresa, .turista {
        font-size: 0.8em;
    }
    .containerSwitch {
        position: absolute !important;
        top: 90px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .switch {
        width: auto;
    }
    .empresa, .turista {
        font-size: 0.8em;
    }
    .containerSwitch {
        position: absolute;
        top: 90px;
    }
}