.swiper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-3d .swiper-wrapper {
  align-items: center;
}
/* .swiper-slide:nth-child(1n) {

}

.swiper-slide:nth-child(2n) {
} */

