

.buttonFour {
    background-color: #ffffff00;
    width: 100%;
    height: 64px;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    cursor: pointer;
    padding: 0px 15px;
    border: 1px solid #7B7B7B;  
}


.textButtonFour {
    color: #FFF;
    text-align: start;
    font-family: 'Poppins';
    font-size: 1.4em;
    font-weight: 500;
    margin: 0px;
}