@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }
  .buttonFour.active {
    background:
    linear-gradient(hwb(0 48% 52%), hwb(0 48% 52%)) padding-box,
    linear-gradient(40deg, rgba(255, 255, 255, 0.795),  rgba(255, 255, 255, 0.36)) border-box;
  
    color: white;
  }
.containerButtonFour {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonFour {
    border: 2px solid transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    display: inline-block;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 64px;
    gap: 1em;
    cursor: pointer;
    background-color: #ffffff10;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 20px;

    color: #FFF;
    text-align: start;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0px;
}
.buttonFour:hover {
    background:
    linear-gradient(hwb(0 48% 52%), hwb(0 48% 52%)) padding-box,
    linear-gradient(40deg, rgba(255, 255, 255, 0.36),rgba(0, 255, 225, 0.6)) border-box;
    color: #00FFE1;
}


@media (min-width: 360px) and (max-width: 576px){
    .buttonFour {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }
}




