.containerHeroCompany {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.containerPixImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.megapixHome {
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    filter: blur(4px);
    width: auto;
}

.coinContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.coinOne {
    position: absolute;
    width: 18%;
    animation: orbit 35s linear infinite;
    transform-origin: center;
}

.coinTwo {
    position: absolute;
    width: 15%;
    animation: orbitOne 45s linear infinite;
    transform-origin: center;
}

.coinThree {
    position: absolute;
    width: 20%;
    animation: orbitThree 40s linear infinite;
    transform-origin: center;
}

.coinFour {
    position: absolute;
    width: 15%;
    animation: orbitTwo 35s linear infinite;
}

@keyframes orbitThree {
    0% {
        transform: rotate(0deg) translateX(-190px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-190px) rotate(-360deg);
    }
}
@keyframes orbitTwo {
    0% {
        transform: rotate(0deg) translateX(380px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(380px) rotate(-360deg);
    }
}
@keyframes orbitOne {
    0% {
        transform: rotate(0deg) translateX(-350px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-350px) rotate(-360deg);
    }
}
@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
}

@media (min-width: 360px) and (max-width: 576px) {
    .coinOne, .coinTwo {
        width: 30%;
    }
    .coinFour {
        width: 50%;
    }
    .coinThree {
        width: 70%;
    }
    .megapixHome {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .coinContainer img {
        width: 30%;
    }
    .megapixHome {
        width: 100%;
    }
    
}

@media (min-width: 769px) and (max-width: 992px) {
    .coinContainer img {
        width: 30%;
    }
    .megapixHome {
        width: 100%;
    }
}
@media (min-width: 1441px)  {
    .coinFour {
        width: 10%;
    }
    .coinOne {
        width: 15%;
    }
}
