@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }
  
.sectionSix {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.containerTextSix {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    justify-content: center;
}
.itemSix {
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}
.titleSectionSix {
    color: #FFF;
    text-shadow: 0px 4px 134px #000;
    font-family: "Poppins", sans-serif;
    font-size: 4.5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    margin: 0px;
}
.subtitleSectionSix {
    color: #FFF;
    font-family: 'Poppins-Light', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 20px 0px;
    width: 80%;
}
.itemList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.containerVideosSix {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}
.videoGif {
    width: 900px;
    height: auto;
}
.containerVideo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}


@media (min-width: 360px) and (max-width: 576px) {
    .titleSectionSix {
        font-size: 2.7em;
    }
    .sectionSix {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .itemSix {
        font-size: 2.3em;
    }
    .subtitleSectionSix {
        width: 100%;
        text-align: center;
    }
    .containerTextSix {
        padding: 0px;
        width: 100%;
        align-items: center;
    }
    .containerVideosSix {
        gap: 3em;
        width: 350px;
        height: auto;
        flex-direction: column;
    }
    .videoGif {
        width: 500px;
    }
    
}
@media (min-width: 577px) and (max-width: 768px) {
    .titleSectionSix {
        font-size: 2.7em;
    }
    .sectionSix {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .itemSix {
        font-size: 2.3em;
    }
    .subtitleSectionSix {
        width: 100%;
        text-align: center;
    }
    .containerTextSix {
        padding: 0px;
        width: 100%;
        align-items: center;
    }
    .containerVideosSix {
        gap: 3em;
        width: 350px;
        height: auto;
        flex-direction: column;
    }
    .videoGif {
        width: 600px;
    }
}
@media (min-width: 769px) and (max-width: 992px)  {
    .titleSectionSix {
        font-size: 4em;
    }
    .sectionSix {
        flex-direction: column-reverse;
        gap: 3rem;
        margin-top: 100px;
    }
    .itemSix {
        font-size: 2.3em;
    }
    .subtitleSectionSix {
        width: 100%;
        text-align: center;
    }
    .containerTextSix {
        padding: 0px;
        width: 80%;
        align-items: center;
    }
    .containerVideosSix {
        gap: 3em;
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .videoGif {
        width: 700px;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .titleSectionSix {
        font-size: 3.5em;
    }
    .sectionSix {
        flex-direction: column-reverse;
    }
    .itemSix {
        font-size: 2.3em;
    }
    .subtitleSectionSix {
        width: 100%;
    }
    .containerTextSix {
        padding: 0px;
        width: 100%;
    }
    .containerVideosSix {
        width: 90%;
    }
    .videoGif {
        width: 750px;
    }
} 
@media (min-width: 1201px) and (max-width: 1440px) {
    .titleSectionSix {
     font-size: 4em;
    }
    .subtitleSectionSix {
        font-size: 1.2em;
        font-family: 'Poppins-Light';
    }
    .containerTextSix {
        width: 100%;
    }
} 

@media (min-width: 1441px) {
    .titleSectionSix {
        font-size: 4.5em;
    }
    .subtitleSectionSix {
        font-size: 1.5em;
    }
    .containerTextSix {
        width: 80%;
    }
    .containerVideosSix {
        width: 80%;
    }
    .subtitleSectionSix {
        padding: 20px 0px 25px 0px;
    }
    .videoGif {
        width: 1200px;
    }
}
