@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }
.containerCard {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    background-blend-mode: soft-light, normal;
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
    backdrop-filter: blur(20px);
    width: 70%;
    height: auto;
    padding: 100px;
}
.card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
}
.textCard {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
}
.tituloCard {
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    margin: 0px;
    font-size: 7em;
    font-style: normal;
    font-weight: 400;
    line-height: 100.044%;
}
.containerTextRight {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.rayoImg {
    position: absolute;
    right: 1;
    bottom: 1;
    width: 70%;
}
.rayoImg {
    animation:
    rayo 5s infinite 0s;
}

@keyframes rayo {
    0% {
       transform: translateY(-20px) ease-in;
    }
    50% {
        transform: translateY(20px) ;
    }

}

@media (min-width: 360px) and (max-width: 576px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
    }
    .containerCard {
        padding: 50px 20px;
    }
    .tituloCard {
        font-size: 4em;
    }
    .rayoImg {
        width: 30%;
    }
    .textCard {
        font-size: .9em;
        font-weight: 300;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
    }
    .containerCard {
        padding: 50px 20px;
    }
    .tituloCard {
        font-size: 4em;
        width: 50%;
    }
    .rayoImg {
        width: 30%;
    }
    .textCard {
        font-size: 1.2em;
        font-weight: 300;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .containerCard {
        padding: 70px;
    }
    .tituloCard {
        font-size: 5em;
    }
}
