@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
.containerSectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.titleSectionOne {
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100.044%;
} 

 

@media (min-width: 360px) and (max-width: 576px) {
    .containerSectionOne {
        height: auto;
        width: 100%;
    }
    .titleSectionOne {
        font-size: 2em;
        padding: 30px 0px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .containerSectionOne {
        height: auto;
        width: 100%;
    }
    .titleSectionOne {
        font-size: 4em;
        padding: 30px 0px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .containerSectionOne {
        height: auto;
    }
}
