@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}
  .containerSectionOne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 2em;
  }
  .containerTitleOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .titleSectionOne {
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
  
    padding: 0px;
    font-size: 7em;
    margin: 30px 0px;
  }
  
  .titleSectionOne {
    background: linear-gradient(90deg, #111, #fff, #111);
    background-repeat: no-repeat;
    background-size: 90%;
    background-clip: text;
    color: transparent;
    transition: background-position 300ms ease-in-out;
  }
  
  .sectionWrapper {
    position: relative;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 576px) {
    .titleSectionOne {
      font-size: 3em;
    }
  }
   @media (min-width: 576px) {
      .titleSectionOne {
        font-size: 5em;
      }
   }
  
   @media (min-width: 1200px) {
    .containerSectionOne {
      margin-top: -30px;
    }
   }