@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Black.ttf");
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
  src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
  src: url("../../fonts/Poppins/Poppins-Thin.ttf");
}

.lightBlue {
  color: #62fee2;
}
.containerHero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleHero {
  color: #fff;
  text-align: center;
  margin: 0px;
  text-shadow: 0px 4px 134px #000;
  width: 70%;
  font-size: 6em;
  font-style: normal;
  font-weight: 400;
}
.titleTwo {
  color: #fff;
  text-align: center;
  margin: 0px;
  text-shadow: 0px 4px 134px #000;
  width: 80%;
  font-size: 4em;
  font-style: normal;
  font-weight: 400;
}


.subtitleHero {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 500;
  margin: 0px 0px 50px 0px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerBackground {
  backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    color: white;
  }
  to {
    opacity: 1;
    color: #62fee2;
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  .titleHero {
    font-size: 2.6em;
    width: 90%;
  }
  .titleTwo {
    width: 90%;
    font-size: 1.9em;
  }
  .subtitleHero {
    color: #fff;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    width: 90%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .titleHero {
    font-size: 3em;
    width: 90%;
  }
  .titleTwo {
    font-size: 2.2em;
  }
  .subtitleHero {
    width: 90%;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.1em;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .titleTwo {
    font-size: 3em;
  }
  .titleHero {
    font-size: 4em;
    width: 90%;
  }
  .subtitleHero {
    font-size: 1.3em;
    width: 60%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .titleTwo {
    width: 60%;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .titleHero {
    width: 60%;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .titleTwo {
    width: 60%;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
  .titleHero {
    width: 60%;
    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
  }
}


@media (min-width: 1441px)  {
  .subtitleHero {
    font-size: 2em;
    width: 50%;
  }
  .titleTwo {
    font-size: 7em;
    width: 70%;
    line-height: 130px;
  }
  .titleHero {
    font-size: 8em;
    width: 60%;
  }
}