@font-face {
  font-family: "Bebas";
  src: url("../../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../../fonts/Poppins/Poppins-Light.ttf");
}

.titleTuristFour {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 134px #000;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100.044%;
    margin-top: 40px;
    margin-bottom: 0px;
}
.containerTextFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerHow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 2em;
}
.subtitleFour {
  font-family: 'Poppins-Light';
  font-size: 1em;
  text-align: center;
  color: white;
  margin: 0px;
}
.videoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.videoElement {
  width: 270px; 
}
.carouselElement {
  width: 500px;
}
.containerElementGif {
  display: flex;
  z-index: 9;
  position: relative;
  top: 10%;
}
.containerElementGifUno {
  display: flex;
  z-index: 9;
}
.backImg {
  border-radius: 40px;
  background-color: #1E1E1E;
  width: 600px;
  height: 500px;
  position: absolute;
  right: 450px;
}




@media (max-width: 576px) {
    .titleTuristFour {
      font-size: 3em;;
      margin: 0px;
    }
    .containerHow {
      height: 100vh;
      justify-content: flex-start;
      margin-top: 50px;
    }
    .containerTextFour {
      width: 90%;
    }
    .videoElement {
      width: auto;
      height: 500px;
    }
    .videoWrapper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 3em;
      flex-direction: column;
    }
    .carouselElement {
      width: 300px;
    }
    .videoElement {
      height: 300px;
    }
    .containerElementGif {
      position: absolute;
      top: 50%;
    }
    .backImg {
      width: 200px;
      height: 300px;
      right: 100px;
    }
}
@media (min-width: 577px) and (max-width: 992px) {
  .titleTuristFour {
    font-size: 4em;
  }
  .backImg {
    width: 200px;
    height: 300px;
    right: 100px;
  }
  .containerHow {
    gap: 0px;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .videoWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
  }
  .carouselElement {
    width: 400px;
  }
  .videoElement {
    width: 200px;
  }
  .containerElementGif {
    position: absolute;
    top: 50%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .titleTuristFour {
    font-size: 4em;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .containerHow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 2em;
  }
  .titleTuristFour {
    font-size: 5em;
  }
  .carouselElement {
    width: 600px;
  }
  .subtitleFour {
    font-size: 1.2em;
  }

}
@media (min-width: 1441px)  {
  .containerHow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 2em;
  }
  .titleTuristFour {
    font-size: 5em;
  }
  .backImg {
    border-radius: 40px;
    background-color: #1E1E1E;
    width: 700px;
    height: 550px;
    position: absolute;
    /* right: 750px; */
    right: 550px;
  }
  .videoElement {
    width: 320px;
  }
  .carouselElement {
    width: 650px;
  }

}


