.containerLogo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.containerNav {
    position: fixed;
    z-index: 100;
    flex-direction: row;
    display: flex;
    background: linear-gradient(360deg, rgba(17, 17, 17, 0) 15.94%, #111111e5 66.12%);
    width: 100%;
}

.logo {
    width: 100%;
    z-index: 99;
}
.linkLogoNav {
    display: flex;
    justify-content: center;
}


@media (max-width: 576px){
    .containerLogo {
        display: flex;
        width: 100%;      
    }
    .logo {
        width: 80%;
    }
    .containerNav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .containerLogo {
        display: flex;
        width: 100%;      
    }
    .logo {
        width: 60%;
    }
    .containerNav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .logo {
        width: 70%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .logo {
        width: 80%;
    }
}
@media (min-width: 1201px) and (max-width: 1440px) {
    .logo {
        width: 60%;
    }
}
@media (min-width: 1441px) {
    .logo {
        width: 50%;
    }
}