.containerLogo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.containerNav {
    position: fixed;
    z-index: 100;
    padding-top: 20px;
    flex-direction: row;
    display: flex;
    background: linear-gradient(360deg, rgba(17, 17, 17, 0.00) 15.94%, #111 66.12%);
    width: 100%;
}

.logo {
    width: 50%;
    z-index: 99;
}


@media (min-width: 360px) and (max-width: 576px){
    .containerLogo {
        display: flex;
        width: 100%;      
    }
    .logo {
        width: 80%;
    }
    .containerNav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: linear-gradient(360deg, rgba(17, 17, 17, 0.00) 15.94%, #11111187 66.12%);
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .containerLogo {
        display: flex;
        width: 100%;      
    }
    .logo {
        width: 80%;
    }
    .containerNav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}