@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}



.containerHeroTurist {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  align-items: center;
  justify-content: end;
}
.container {
  position: relative; 
}
.light {
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: -150px;
  width: 250px;
  height: 250px;
  background: #62fee2;
  filter: blur(100px);
  box-shadow: 0px 0px 133.459px 0px #62fee2, 0px 0px 66.73px 0px #62fee2,
    0px 0px 19.066px 0px #62fee2, 0px 0px 9.533px 0px #62fee2;
}

.light2 {
  border-radius: 100px;
  position: absolute;
  top: 300px;
  right: -150px;
  width: 250px;
  height: 250px;
  background: #62fee2;
  filter: blur(100px);
  box-shadow: 0px 0px 133.459px 0px #62fee2, 0px 0px 66.73px 0px #62fee2,
    0px 0px 19.066px 0px #62fee2, 0px 0px 9.533px 0px #62fee2;
}


.coinContainerTurist {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.coinOneT {
  position: absolute;
  width: 15%;
  animation: orbitT 35s linear infinite;
  transform-origin: center;
}

.coinTwoT {
  position: absolute;
  width: 15%;
  animation: orbitTwoT 45s linear infinite;
  transform-origin: center;
  transform: rotate(0deg) translateX(350px) rotate(0deg);
}

.coinThreeT {
  position: absolute;
  width: 10%;
  animation: orbitThreeT 40s linear infinite;
  transform-origin: center;
  transform: rotate(0deg) translateX(-190px) rotate(0deg);
}

.coinFourT {
  position: absolute;
  width: 15%;
  animation: orbitTwoT 35s linear infinite;
}

@keyframes orbitThreeT {
  0% {
      transform: rotate(0deg) translateX(-190px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(-190px) rotate(-360deg);
  }
}
@keyframes orbitTwoT {
  0% {
      transform: rotate(0deg) translateX(400px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(400px) rotate(-360deg);
  }
}
@keyframes orbitOneT {
  0% {
      transform: rotate(0deg) translateX(-200px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(-200px) rotate(-360deg);
  }
}
@keyframes orbitT {
  0% {
      transform: rotate(0deg) translateX(-270px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(-270px) rotate(-360deg);
  }
}



@media (min-width: 360px) and (max-width: 576px) {
  .coinOneT, .coinTwoT {
      width: 20%;
  }
  .coinFourT {
      width: 10%;
  }
  .coinThreeT {
      width: 20%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 992px) {

 
}

@media (min-width: 1201px) and (max-width: 1440px) {
  
}
@media (min-width: 1441px)  {
  .coinTwoT {
    width: 10%;
  }
}