@font-face {
    font-family: "Bebas";
    src: url("../../../fonts/BebasNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../../fonts/Poppins/Poppins-Light.ttf");
  }

.containerCardSelect {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    background-blend-mode: soft-light, normal;
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
    backdrop-filter: blur(40px);
    width: 70%;
    height: 500px;
    padding: 40px;
    justify-content: space-between;
    display: flex;
    gap: 2em;
}
.photoContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}
.containerTextSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textSelect {
    color: #FFF;
    font-family: "Poppins-Light";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: start;
}
.titleSelect {
    color: #FFF;
    font-family: "Poppins-Medium";
    font-size: 2em;
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}

@media (min-width: 360px) and (max-width: 768px) {
    .containerCardSelect {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 1em;
        border-radius: 20px;
        width: 80%;
    }
    
    .containerTextSelect {
        width: 100%;
        overflow: scroll;
        justify-content: flex-start;
    }
    .textSelect {
        margin: 0px;
    }

    .photoContainer {
        overflow: hidden;
        width: 100%;
        border-radius: 10px;
        height: 200px;
    }
    .titleSelect {
        text-align: start;
        font-size: 1.5em;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .containerCardSelect {
        flex-direction: column;
        gap: 1em;
        height: 500px;
        justify-content: center;
        width: 80%;
    }
    .photoContainer {
        height: auto;
        border-radius: 10px;
        width: 100%;
    }
    .photoContainer {
        width: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .containerCardSelect {
        flex-direction: row;
        width: 80%;
    }
    .imgFoodSelect {
        width: auto;
    }
    .photoContainer {
        width: 100%;
        border-radius: 15px;
    }
    .containerTextSelect {
        width: 100%;
    }
}
@media (min-width: 1201px) {
    .containerCardSelect {
        flex-direction: row;
        width: 70%;
    }
    .imgFoodSelect {
        width: auto;
    }
    .photoContainer {
        width: 80%;
        border-radius: 15px;
    }
    .containerTextSelect {
        width: 100%;
    }
}

@media (min-width: 1441px) {
    .textSelect {
        font-size: 1.2em;
    }
    .containerCardSelect {
        height: 600px;
        align-items: center;
        justify-content: center;
    }
    .photoContainer {
        height: 600px;
    }
}