@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }
.containerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.columnOneFooterRed {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 1em;
}
.red {
    color: white;
}
.red:hover {
    color: #62FEE2;
}
.columnOneFooter {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
}
.containerTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sloganContainer {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
}
.titleSlogan {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-align: center;
}
.navlink {
    text-decoration: none; 
    color: white;
    text-align: start;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.containerLogoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.textNavOne {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}
.textNavThree  {
    font-size: 1em;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    line-height: normal;
    margin: 0px;
    text-align: start;
    width: 100%;
}
.textNavComunidad {
    color: white;
    font-size: 1em;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    line-height: normal;
    margin: 0px;
    text-align: start;
    width: 100%;
}
.textNavTwo {
    color: #FFF;
    font-family: "Poppins-Light", sans-serif;
    font-size: .8em;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    width: 100%;
}
.navlink:hover {
    color: #62FEE2;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerProduct {
    color: #FFF;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.footerOrder {
    width: 90%;
    border-radius: 30px;
    background:  rgba(255, 255, 255, 0.10);
    background-blend-mode: soft-light, normal;
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
    backdrop-filter: blur(20px);
    height: 250px;
    z-index: 1;
    top: 200px;
    position: relative;
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    gap: 5em;
}
.containerFormas {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: auto;
    position: absolute;
}
.formas {
    width: 100%;
}
.titleFooter {
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.containerRayoFooter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rayito {
    width: 300px;
}
.logoFooter {
    padding: 0px 30px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.rayito {
    width: 300px;
    animation: float 3s ease-in-out infinite;
}

@media (min-width: 360px) and (max-width: 576px) {
    .footerOrder {
        width: 70%;
        top: 0px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 30px 30px;
    }
    .footer {
        height: auto;
    }
    .containerLogoFooter {
        width: 100%;
        overflow: hidden;
        align-items: flex-start;
    }
    .logoFooter {
        padding: 0px;
        width: 90%;
    }
    .footerProduct {
        margin-bottom: 0px;
        width: 100%;
    }
    .textNavTwo {
        display: none;
    }
    .containerTotal {
        flex-direction: column;
    }
    .listResponsive {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .textNavOne, .textNavThree, .textNavComunidad {
        font-size: .8em;
    }
    .columnOneFooterRed {
        justify-content: center;
    }
    .lineResponsive {
        width: 100%;
        border: 1px solid white;
        margin: 30px 0px;
    }
    .rayito {
        width: 150px;
    }
    .sloganContainer {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
    .titleSlogan {
        width: 100%;
        font-size: 2em;
    }
}
/* @media (min-width: 577px) and (max-width: 768px) {
    .sloganContainer {
        width: 90%;
    }
    .titleSlogan {
        font-size: 4em;
    }
    .rayito {
        width: 250px;
    }
    .footerOrder {
        top: 100px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .footerOrder { 
        top: 150px;
    }
} */
