.containerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.sloganContainer {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
}
.titleSlogan {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-align: center;
}
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerOrder {
    width: 90%;
    border-radius: 30px;
    background:  rgba(255, 255, 255, 0.10);
    background-blend-mode: soft-light, normal;
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
    backdrop-filter: blur(20px);
    height: 200px;
    z-index: 1;
    top: 200px;
    position: relative;
    display: flex;
    align-items: center;
}
.containerFormas {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: auto;
    position: absolute;
}
.formas {
    width: 100%;
}
.titleFooter {
    color: #FFF;
    font-family: "Bebas";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.containerRayoFooter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rayito {
    width: 300px;
}
.logoFooter {
    padding: 0px 30px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.rayito {
    width: 300px;
    animation: float 3s ease-in-out infinite;
}

@media (min-width: 360px) and (max-width: 576px) {
    .titleSlogan {
        font-size: 3em;
    }
    .sloganContainer {
        width: 90%;
        padding: 50px 0px;
    }
    .rayito {
        width: 200px;
    }
    .footerOrder {
        width: 90%;
        top: 0px;
    }
    .logoFooter {
        padding: 0px;
        width: 200px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .sloganContainer {
        width: 90%;
    }
    .titleSlogan {
        font-size: 4em;
    }
    .rayito {
        width: 250px;
    }
    .footerOrder {
        top: 100px;
    }
}