@font-face {
    font-family: "Poppins";
    src: url("../../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../../fonts/Poppins/Poppins-Thin.ttf");
  }

.containerFiveTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleTuristFive {
    color:#FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 4.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 100.044%; 
    width: 40%;
    z-index: 1;
}

.containerDragFive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
}

@media (min-width: 360px) {
    .titleTuristFive {
        width: 90%;
        font-size: 2.5em;
    }
}
@media (min-width: 992px)  {
    .titleTuristFive {
        width: 70%;
        font-size: 3.5em;
    }
}

@media (min-width: 1200px) {
    .titleTuristFive {
        width: 50%;
        font-size: 4em;
    }
}