@font-face {
    font-family: "Bebas";
    src: url("../../../fonts/BebasNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../../fonts/Poppins/Poppins-Light.ttf");
  }

.containerFiveTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerCarouselTurist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titleTuristFive {
    color:#FFF;
    text-align: center;
    font-family: "Poppins-Medium";
    font-size: 4.5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 40%;
    z-index: 1;
}

.containerDragFive {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s;
    cursor: grab;
    user-select: none !important;
    box-shadow: inset 10px 0 8px 0px #000, inset -10px 0 8px 0px #000;
}
.containerDragFive::-webkit-scrollbar {
    display: none; 
} 

@media (min-width: 360px) and (max-width: 576px)  {
    .titleTuristFive {
        width: 60%;
        font-size: 1.8em;
        font-weight: 500;
    }
}

@media (min-width: 577px) and (max-width: 992px)  {
    .titleTuristFive {
        font-size: 2.4em;
        width: 60%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .titleTuristFive {
        font-size: 3em;
    }
    
}

@media (min-width: 1201px) {
    .titleTuristFive {
        font-size: 4em;
    }
}