@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
  }

.btnTuristOne {
    border-radius: 160px;
    border: 1px solid #FFF;
    background-color: #111;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    white-space: nowrap;

    font-size: 1.2em;
    width: auto;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnTuristOne:hover {
    border: 1px solid #62FEE2;
    color: #62FEE2;
}

.btnTuristOne.active {
    color: #62FEE2;
    border: 1px solid #62FEE2;
}

@media (min-width: 360px) and (max-width: 772px) {
.btnTuristOne {
    width: 260px;
    height: 50px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-Regular";
    font-size: 1em;
}
}

@media (min-width: 1201px) and (max-width: 1440px){
    .btnTuristOne {
        font-size: 1.2em;
        width: auto;
        padding: 15px 30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (min-width: 1441px) {
    .btnTuristOne {
        padding: 15px 30px;
    }
    
}