@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Black.ttf");
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins/Poppins-Light.ttf");
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
    src: url("../../fonts/Poppins/Poppins-Thin.ttf");
  }

.btnTuristOne {
    border-radius: 160px;
    border: 1px solid #FFF;
    background-color: #111;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0px;

    font-size: 1.2em;
    width: auto;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnTuristOne:hover {
    border: 1px solid #62FEE2;
    color: #62FEE2;
}

.btnTuristOne.active {
    color: #62FEE2;
    border: 1px solid #62FEE2;
}

@media (min-width: 360px) {
.btnTuristOne {
    width: 200px;
    height: 50px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1em;
}
}

@media (min-width: 1200px) {
    .btnTuristOne {
        font-size: 1.2em;
        width: auto;
        padding: 15px 30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media (min-width: 1440px) {
    .btnTuristOne {
        padding: 30px 50px;
    }
    
}